.card-header{
  display: flex;
  justify-content: space-between;

}

.text-left-header{
  display: flex;
  flex-direction: column;
  width: 45%;
  span{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2B2D33;
  }
}
.text-kod{
  font-size: 20px;
  line-height: 23px;
  color: #9e9e9e;
}
.card-clip{
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #606678;
  background: none;
  border: none;
}
.text-right-header{
  display: flex;
  gap: 10rem;
  padding: 20px;
}
.bth-clip{
  display: flex;
  border: none;
  cursor: pointer;
  background: none;
}
.text-all-clip{
  P{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #606678;
    background: none;
    border: none;
  }
  display: flex;
  align-items: flex-start;
}
.star{
  width: 137px;
}
.reiting{
  span{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2B2D33;
  }
  display: flex;
  gap: 1rem;
}
.card-main{
 display: flex;
  align-items: flex-start;
  gap: 3rem;
}
.wheels{
  flex: 1;
  width: 180px;
  padding: 30px;
}
.center{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
  background: #F1F1F1;
  border-radius: 4px;
  padding: 32px 38px;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.NAME{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #848484;
}
.info-right{
  text-align: right;
  span{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #2B2D33;
  }
}
.green-word{
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  color: #16C888!important;
}
.info-centre-right{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  text-align: left;
}
.info-centre-left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price-main{
  flex: 1;
  background: #F1F1F1;
  border-radius: 4px;
}
.order-price{
  gap: 2rem;
  display: flex;
  flex-direction: column;
  padding: 32px 34px;
  div {
    display: flex;
    div{
      flex: 1;
    }
  }
}
.price{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.calculator{
  display: flex;
  gap: 2rem;
}
.new-price{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-left{
  p{
    font-weight: 500;
    font-size: 27px;
    line-height: 49px;
    color: #6D92F0;
  }
}
.sum-name{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #959595;
}
.sum-value{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #2B2D33;
}
p{
  margin: 0!important;
}
.calc-buttons{
  p{
    font-size: 20px;
   font-weight: 500;
  }
  display: flex;
  gap: 1rem;
  align-items: center;
}
.count{
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2B2D33;
  }
}
.calc-button{
  width: 28px;
  height: 28px;
}
.info{
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #5A5E6C;
  }
  display: flex;
  gap: 1rem;
  align-items: center;
}
.buy-button{


  button{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
    background: #F3DC61;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2B2D33;
    border-radius: 4px;
    padding: 0.7rem;
    justify-content: center;
  }
}
.cart-img{
  flex: unset!important;
}
.rigth-center{
  text-align: right;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}
.left-center{
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #848484;
}




@media only screen and (max-width: 768px){
  .card-block{
    display: flex;
    flex-direction: column;
  }
  .card-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .text-left-header{
    display: flex;
    flex-direction: column;
    width: auto;
    span{
      font-size: 18px;
    }
  }
  .green-word{
     font-size: 16px!important;
  }
  .text-right-header{
    display: flex;
    gap: 5rem;
    padding: 20px;
    flex-direction: row;

  }
  .text-kod{
    font-size: 16px;
  }
  .reiting{
    span{
      font-size: 14px;
    }
  }
  .star{
    width: 100px;
  }
  .NAME{
    font-size: 16px;
  }
  .info-right{
    span{
      font-size: 18px;
    }
  }
  .card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .centre{
    width: 330px;
  }

}

