<div class="card-block">
  <div class="card-header">
    <div class="text-left-header">
      <span>Автошины Nokian Hakkapeliitta 9 SUV (шип) 315/35 R20 110T</span>
      <div class="reiting">
        <img class="star" src="/assets/icons/star.svg">
        <span>3.4</span>
      </div>
    </div>
    <div class="text-right-header">
      <span class="text-kod">Код товара: 264</span>
      <div class="text-all-clip">
        <button class="bth-clip"><img class="card-clip" src="/assets/pages_home/needle.png">
        <p>В избранное</p>
        </button>
      </div>
    </div>
  </div>
  <div class="card-main">
    <img class="wheels" src="/assets/pages_home/wheel.png" alt="">
    <div class="centre">
      <div class="info-centre-left">
        <div class="info-left">
          <span class="NAME">Сезон</span>
        </div>
        <div class="info-left">
          <span class="NAME">Ось</span>
        </div>
        <div class="info-left">
          <span class="NAME">Наличие</span>
        </div>
        <div class="info-left">
          <span class="NAME">Самовывоз</span>
        </div>
        <div class="info-left">
          <span class="NAME">Доставка</span>
        </div>
      </div>
      <div class="info-centre-right">
        <div class="info-right">
          <img src="/assets/icons/sun.svg">
        </div>
        <div class="info-right">
          <span>Передняя ось</span>
        </div>
        <div class="info-right">
          <span class="green-word">В наличии (>12 шт.)</span>
        </div>
        <div class="info-right">
          <span>Через 2 дня <img src="/assets/icons/question.svg"> </span>
        </div>
        <div class="info-right">
          <span>Через 2 дня <img src="/assets/icons/question.svg"> </span>
        </div>
      </div>
    </div>
  </div>
</div>
