<div class="header">
  <div class="header_wrapper">
    <div class="header-left">
      <div class="left-side">
        <a href="/" class="logo">
          <img class="logo" src="./assets/pages_home/logo-kupikolesa.png" alt="">
        </a>
        <a href="#" class="icon-map">
          <img class="icon-map" src="./assets/pages_home/points.png" alt="">
          <span>Пункты выдачи</span>
        </a>
      </div>
      <div class="left-side-button">
        <button class="bth-header-transport-tires">Шины <img src="./assets/pages_home/dropdown.png"></button>
        <button class="bth-header-transport-discs">Диски <img src="./assets/pages_home/dropdown.png"></button>
        <button class="bth-header-transport-mototires">Мотошины <img src="./assets/pages_home/dropdown.png"></button>
      </div>
    </div>
    <div class="header-right-side">
      <div class="header-right-side-top">

        <div class="phones-region">
          <a href="tel:+8(888)888-88-88" class="header-phone-number">8(888)888-88-88</a>
          <p class="text-one">Регионы РФ</p>
        </div>
        <div class="phones-capital">
          <a href="tel:+8(888)888-88-88" class="header-phone-number">8(888)888-88-88</a>
          <p class="text-one">Москва и МО</p>
        </div>
        <div class="phones-callback">
          <a class="call" href="/">
            <img src="./assets/pages_home/route.png">
            <p>Что с заказом</p>
          </a>
          <a class="call" href="/">
            <img src="./assets/pages_home/call-in.png">
            <p>Перезвони мне</p>
          </a>
        </div>

        <div class="personal-account">
          <a href="/" class="header__personal-account-link">
            <div class="header-personal-account-icons">
              <img src="./assets/pages_home/man.png">
              <img src="./assets/pages_home/arrow.png">
            </div>
            <p class="text-two">Кабинет</p>
          </a>
        </div>
      </div>
      <div class="header-menu">
        <button class="btn btn__header-menu btn__header-menu-search">
          <img src="/assets/pages_home/search.png">Поиск</button>
        <button class="btn btn__header-menu btn__header-menu-favorits">
          <img src="/assets/pages_home/needle.png">Избранное</button>
        <a href="/cart" class="btn btn__header-menu btn__header-menu-basket">
          <img src="/assets/pages_home/basket.png">Корзина
          <span class="basket-counter">0</span>
        </a>
      </div>
    </div>
  </div>
  <a href="/" class="header__link-to-main">Главная</a>
</div>
