.body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.selects-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 630px;
  background-color: #f2dc61;
  padding: 20px;
  border-radius: 10px;
}
.header__link-to-main {
  display: block;
  width: 100%;
  margin: 16px 12px;
  text-decoration: underline;
  color: #3153b6;
  font-size: 18px;
}

.select-items-column {
  display: flex;
  justify-content: space-between;
}

.selects-items-row {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 40%;
}
.button-block {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #212529;
  color: white;
}
.button:hover {
  background-color: black;
}

.products {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .selects-block{
    width: 327px;
    height: 200px;
    margin: auto;
  }
  .select-items-column{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
  }
  .selects-items-row{
    white-space: nowrap;
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: flex-end;
    flex-direction: column;

  }
  .dropdown-btn{
    overflow: hidden!important;
  }
}
